@font-face {
    font-family:nanumB;
    src:url(asset/font/NanumSquareRoundB.ttf); 
    src:local(※), url(/NanumSquareRoundB.ttf) format(‘tff’)
}
@font-face {
    font-family:nanumEB;
    src:url(asset/font/NanumSquareRoundEB.ttf); 
    src:local(※), url(/NanumSquareRoundEB.ttf) format(‘ttf’)
}
@font-face {
    font-family:nanumL;
    src:url(asset/font/NanumSquareRoundL.ttf); 
    src:local(※), url(/NanumSquareRoundL.ttf) format(‘tff’)
}
@font-face {
    font-family:nanumR;
    src:url(asset/font/NanumSquareRoundR.ttf); 
    src:local(※), url(/NanumSquareRoundR.ttf) format(‘ttf’)
}
body {
    padding: 0;
    margin: 0;
    border: none;
    background-color: black;
}
header {
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 30px;
}
main {
    width: 1440px;
    height: auto;
    margin: 0 auto;
}
.head_title{
    font-size: 48px;
    font-family:nanumB;
    font-weight: 400;
    color: #fff;
}